<div class="row">
  <div class="col-4">
    <div *ngIf='user'>
      <h2 class="login">User: {{ user.login }}</h2>
      <img src="{{ user.avatar_url }}" class="img-fluid z-depth-1 rounded-square hoverable" id="img2" alt="">
      <h1 class="repos">Repositories: {{ user.public_repos }}</h1>
      <h1 class="followers">Followers: {{user.followers}}</h1>
      <h1 class="following">Following: {{user.following}}</h1>
    </div>
  </div>
  <div class="col-8">
    <div class="row">
      <h2 class="head">Repositories.</h2>
      <div class="card" style="width: 18rem;" *ngFor='let repo of repository'>
        <div class="card-body">
          <h5 class="card-title" appUppercase>{{repo.name|uppercase }}</h5>
          <p class="card-text">{{ repo.description}}</p>
          <p class="card-text">{{ repo.created_at|dateCount }}</p>
          <button type="button" class="btn btn-dark"
            onclick="window.location.href='https://github.com/LewisNjagi?tab=repositories';">View on Github</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row2">


